--swiftversion 5.10
--disable blankLinesAroundMark
--disable blankLinesBetweenChainedFunctions
--disable preferForLoop
--disable wrapMultilineStatementBraces
--commas inline
--importgrouping testable-last
--indent 2
--propertytypes explicit
